

/* Grid */

.wrapper {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

/* Header */

[role='banner'] {
  background: #fff;
}

[role='banner'] a + a {
  margin-left: 0.5em;
}

/* Footer */

[role='contentinfo'] .wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[role='contentinfo'] .deploy {
  max-width: 40%;
}
